<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>AddClasses</servlet-name>
		<display-name>AddClasses</display-name>
		<description></description>
		<servlet-class>com.servlets.AddClasses</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteClasses</servlet-name>
		<display-name>DeleteClasses</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteClasses</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateClasses</servlet-name>
		<display-name>UpdateClasses</display-name>
		<description></description>
		<servlet-class>com.servlets.UpdateClasses</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddSubjects</servlet-name>
		<display-name>AddSubjects</display-name>
		<description></description>
		<servlet-class>com.servlets.AddSubjects</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteSubject</servlet-name>
		<display-name>DeleteSubject</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteSubject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateSubject</servlet-name>
		<display-name>UpdateSubject</display-name>
		<description></description>
		<servlet-class>com.servlets.UpdateSubject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddStudents</servlet-name>
		<display-name>AddStudents</display-name>
		<description></description>
		<servlet-class>com.servlets.AddStudents</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteStudents</servlet-name>
		<display-name>DeleteStudents</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteStudents</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateStudents</servlet-name>
		<display-name>UpdateStudents</display-name>
		<description></description>
		<servlet-class>com.servlets.UpdateStudents</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTeacher</servlet-name>
		<display-name>AddTeacher</display-name>
		<description></description>
		<servlet-class>com.servlets.AddTeacher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTeacher</servlet-name>
		<display-name>DeleteTeacher</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteTeacher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateTeacher</servlet-name>
		<display-name>UpdateTeacher</display-name>
		<description></description>
		<servlet-class>com.servlets.UpdateTeacher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<display-name>LoginController</display-name>
		<description></description>
		<servlet-class>com.servlets.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClasses</servlet-name>
		<url-pattern>/AddClasses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteClasses</servlet-name>
		<url-pattern>/DeleteClasses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateClasses</servlet-name>
		<url-pattern>/UpdateClasses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSubjects</servlet-name>
		<url-pattern>/AddSubjects</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSubject</servlet-name>
		<url-pattern>/DeleteSubject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSubject</servlet-name>
		<url-pattern>/UpdateSubject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudents</servlet-name>
		<url-pattern>/AddStudents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStudents</servlet-name>
		<url-pattern>/DeleteStudents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStudents</servlet-name>
		<url-pattern>/UpdateStudents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTeacher</servlet-name>
		<url-pattern>/AddTeacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTeacher</servlet-name>
		<url-pattern>/DeleteTeacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTeacher</servlet-name>
		<url-pattern>/UpdateTeacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
</web-app>
